@page "/crear/reserva"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<div class="p-4">
    <div class="container col-md-6">
        <div class="shadow p-4 bg-white">
            <FormReserva res="reserva" dniHuespedes="dniHuespedes" onValidSubbmit="Grabar" onCancel="Cancelar" />
        </div>
    </div>
</div>

@code {

    private List<int> dniHuespedes = new List<int>();
    private Reserva reserva = new Reserva();


    private async Task Grabar()
    {

        ReservaDTO reservaDTO = new()
                {
                    NroReserva = reserva.NroReserva,
                    Dni = reserva.Dni,
                    Fecha_fin = reserva.Fecha_fin,
                    Fecha_inicio = reserva.Fecha_inicio,
                    Nhabs = reserva.nhabs,
                    Dns= dniHuespedes
                   
                };
        
        var HTTPRespueta = await http.Post<ReservaDTO>("api/Reservar", reservaDTO);

            if (HTTPRespueta.Error)
            {
                var body = HTTPRespueta.HttpResponseMessage;
        }
        else { navigationManager.NavigateTo("/reserva"); }

        }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/");
    }

}
