
<div class="mx-auto">
    <img src="images/logo.png" width="130" height="130" />
</div>


<div class="@NavMenuCssClass nav-scrollable " @onclick="ToggleNavMenu">
<div class="d-flex flex-column">
    <div class="mb-2">
        <label class="d-block text-white fw-bold">Desde:</label>
        <input type="number"
               placeholder="ej: 110"
               class="rounded w-100 border-0 py-2 mt-1 text-center gris-claro fw-bolder" />
    </div>
    <div class="mb-2">
        <label class="d-block text-white fw-bold">Hasta:</label>
        <input type="number"
               placeholder="ej: 210"
               class="rounded  w-100 border-0 py-2 mt-1 text-center gris-claro fw-bold" />
    </div>
   ` <div class="mt-3">
        <button type="button" class="w-100 btn btn-success text-uppercase gris-claro fw-bold shadow-sm " @onclick="NavegarAOtraPagina">+ Habitacion</button>
    </div>
</div>
</div>
<div class="@NavMenuCssClass nav-scrollable fondo2" @onclick="ToggleNavMenu">
<div class="d-flex flex-column gap-3 ">
    <button type="button" class="w-100 btn btn-light text-uppercase gris-claro fw-bold shadow-sm ">Disponibles: <span class="text-success fw-bold">4</span></button>
    <button type="button" class="w-100 btn btn-light fw-bold gris-claro text-uppercase shadow-sm ">Ocupadas: <span class="text-danger fw-bold">4</span></button>
    <button type="button" class="w-100 btn btn-light gris-claro fw-bold text-uppercase shadow-sm ">Reparacion: <span class="reparacion fw-bold">4</span></button>
</div>
</div>


@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void NavegarAOtraPagina()
    {
        NavigationManager.NavigateTo("/crear"); // Ruta a la otra página
    }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}