@page "/crear/persona"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<div class="p-4">
    <div class="container col-md-6">
        <div class="shadow p-4 bg-white">
            <FormPersonas pers="persona" onValidSubbmit="Grabar" onCancel="Cancelar" />
        </div>
    </div>
</div>
@code {
    [Parameter] public int idhabit { get; set; }
    private Persona persona = new Persona();
     
    private async Task Grabar()
    {
        PersonaDTO personaDTO = new()
        {
                Nombres = persona.Nombres,
                Apellidos = persona.Apellidos,
                Correo = persona.Correo,
                Dni = persona.Dni,
                Telefono = persona.Telefono,
                NumTarjeta = persona.NumTarjeta,
                NumHab = idhabit
             
         };

        var HTTPRespueta = await http.Post<PersonaDTO>("api/Persona", personaDTO);

        if (HTTPRespueta.Error)
        {
            var body = HTTPRespueta.HttpResponseMessage;
        }

        navigationManager.NavigateTo($"/personas/{idhabit:int}");
    }


    private void Cancelar()
    {
        navigationManager.NavigateTo($"/personas/{idhabit}");
    }

}